.bg {
    border-image: url('images/hachures-grises-180.png') 30 fill / 30px / 30px ;
    padding-top: 40px;

}

.home{
    .main{
        padding:2%;
    }
.reset {
 
padding:0;

}

.color {
 
    li{
        list-style-type: none;
       
    }
    a {
        text-decoration: none;
        color:#21252F;
        
        &:link {
            text-decoration:none; 
            color:#21252F;
          
        }

        &:hover {
           
            color:blue;
          
        }

}
}



.main-content {
    padding:2% 2% 0 2%;
    background:white;
}

.main-title{
    padding-top: 2%;
}

.post-t{

    ul {
        padding:0;
    }
    
    li{
        list-style-type: none;
       
    }
    a {
        text-decoration: none;
        color:#21252F;
        
        &:link {
            text-decoration:none; 
            color:#21252F;
          
        }

}

}
}

