
.card-main-box {

    margin-top: -200px;
}

.quality-cards {

    margin-right:15px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border: 0px solid black !important;
    border-radius: 50px 50px 0px 0px!important;
    

    

    .quality-food-icon {

        width: 20%;
        margin-top:50px;
        margin-left:auto;
        margin-right:auto;
    
    
    }

    .quality-title{
        text-align: center;
        font-size:25px;
        font-weight: bolder;
    }

    .quality-text{
        text-align: center;
        margin-bottom:20px!important;
        font-size: 16px;
        font-weight: lighter;
        margin-top:25px;
    }
}

.the-chef{

    .story {

        border:none!important;
    }

.story-card {

    margin-left:-200px;
    margin-top: 150px;
   


}

.chef-img {

    position:relative;
}

.discover-title {

    font-size: 42px;
    margin-top: auto;
    margin-left:70px;
    
}

.story-title {

    font-size: 46px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left:70px;
}
.story-subtitle{

    @extend .story-title;
    font-size:16px;
    margin-left:70px;
    margin-top:15px;
}

.story-text {

    @extend .story-subtitle;
    font-weight: lighter;
    text-transform: initial;

}

.story-founder{
    @extend .story-subtitle;
    font-size:12px;
}
}

.burger-party {

    background-image: url('images/burger-party.png');
}