.bg-post{
    border-image: url('images/hachures-grises-180.png') 30 fill / 30px / 30px ;
    padding-top: 40px;
}

.last-post {
  .title-read{color: black !important;

        a {

            text-decoration: none;
            &link{
                text-decoration: none;
            };
        }}
    .title-post{
        padding-bottom: 2%;
        padding-top:1%;
    }
 
}