.bg-menu {
    border-image: url('images/hachures-blanches-1.png') 30 fill / 30px / 30px;
    padding-top: 40px;
  
}


    .menu-container {
        padding: 5% 16% 11% 16%;

        .border-dark {
            
                border-width:3px !important;
            
        }

        .highlighted {
            padding-bottom: 2%;
        }

        .color-yellow {
            border: solid #E8D13E 2px;
           
        }

       .menu-padding{
           padding: 10% 0 10% 0;
       }

    }

  