.bg-menu {
    border-image: url('images/hachures-blanches-1.png') 30 fill / 30px / 30px;
    padding-top: 40px;
  
}


    .menu-container {
        padding: 5% 15% 10% 15%;
        
       .menu-padding{
           padding: 10% 0 10% 0;
       }

    }

    .bot{
        border-bottom: 5px solid black;
    }