.single {
    a {text-decoration: none;
        list-style-type: none; 
    color: black;
    &:link {
        text-decoration:none; 
        list-style-type: none; 
        color: black; 
    }

}


    .img-intro {
    width: 100%;
    height: 500px;
}
.img-instruction{
    width: 100%;
    height: 300px;
}

   .instruction { 
       .number{
        background: black;
        border-radius: 50%;
        color: white;
        

     
    }
    p .number {
        font-size:15px;
    }
}
}

